* {
  margin: 0px;
  padding: 0px;

}

html,body, .cover {
  height: 100%;
  color: white;
  background-color: rgba(57, 54, 54, 0.972);
 font-family: sans-serif
}
.cover {
  background: url("./img/Fondo.jpg");
  background-color:none;
  height: 100%;
}

section{
  position: relative;
  padding: 50px;
  top: 50px;
  top: 730px;
  background: black;
  margin-top: 5px  ;
}

.restaurar{
  clear: both;
}


/* Cabecera */
.cabecera {
  background: none;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgb(0 0 0 / 40%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
  padding: 30px 250px 0px 250px;
  
}

div.logo {
  float: left;
  color: red;
  font-size: 30px;
}

div.login {
  color: red;
  font-size: 26px;
  float: right;
}

.cabecerados{
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}
.peliculas{
  font-size: 3rem;
  font-weight: 900;
  top: 0px;
}

.disfruta{
  font-size: 1.5rem;
    font-weight: 500;
   margin: 20px;
}


input{
    width: 450px;
    line-height: 1.5rem;
    padding: 1.5rem 1rem 0.5rem;
    background-color: #000000c7;
    border-radius: 5px;
    border-style: solid;
}
button{
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-top: 0;
  margin-left: 0.5rem;
  height: 60px;
  width: 200px;
  color: white;
  background: rgb(229, 9, 20);
  border-radius: 5px;
 border-style: none;
 font-size: 1.5rem;
}

form{
  display: flex;
}
/*Cabecera*/

/*Section 1*/

.contenido{

  border: solid blue;
 
}
.contLeft{
  float: left;
}
.contRight{
  float: right;
}
